html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1;
}

img, video {
  max-width: 100%;
  display: block;
}

.weatherNavbar {
  background: linear-gradient(150deg, #007bff, #87cefa);
}
